<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Menus</title>
    <link rel="stylesheet" type="text/css" href="./styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

</head>
<body class="main-page">
    <main class="main-content">
        <header class="header">
            <h1 class="header-title">Welcome To The Restaurant Selector</h1>
            <h2 class="header-subtitle">Select a Restaurant below to View Its Menu</h2>
        </header>
        <section class="restaurant-selection">
            <form action="/restaurant" method="GET" class="restaurant-form">
                <label for="restaurantId" class="restaurant-label">Choose a Restaurant:</label>
                <select name="restaurantId" id="restaurantId" class="restaurant-dropdown">
                    <% restaurants.forEach((restaurant) => { %>
                        <option value="<%= restaurant.id %>">
                            <%= restaurant.name %> - <%= restaurant.city %>
                        </option>
                    <% }) %>
                </select>
                <button type="submit" class="submit-button">View Menu</button>
            </form>
        </section>
        <footer class="footer">
    <div class="button-group">
        <a href="/alerts" class="alerts-link">View Today's Special Menu Items</a>
        <a href="/contact" class="alerts-link">Contact Us!</a>
    </div>
</footer>
    </main>
</body>
</html>

